@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  color: #222831;
}

html, body {
  min-height: 100vh;
  background: #FBFBFB;
}
header,footer{
  display: flex;
  align-items: center;
  pointer-events: none;
}
header{
  height: 65px;
  padding-left: 20px;
  border-bottom: 0.1px dotted #ccc;
}
footer{
  height: 40px;
  padding-right: 20px;
  justify-content: flex-end;
  border-top: 0.5px solid #ccc;
}
header h1{
  font-size: 22px;
}
footer p{
  opacity: 0.8;
  font-size: 15px;
}
section{
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
section .search-section{
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#searchField{
  width: 480px;
  border: 1px solid #222831;
  outline: none;
  background: transparent;
  padding: 9px 10px;
  border-radius: 5px;
  font-size: 1.1em;
}
#searchButton{
  padding: 10px 35px;
  border-radius: 5px;
  background: #222831;
  color: white;
  font-size: 1.1em;
  border: none;
  outline: none;
  cursor: pointer;
  transition:all 0.3s ease;

  &:hover{
    background: #374150;
  }
}
section .data-section{
  /* margin-top: 20px; */
  height: 70%;
  width: 80%;
  margin:  20px auto 0;
  display: flex;
  visibility: hidden;
  pointer-events: none;
}
.flag-prt{
  width: 40%;
  height: 100%;
  padding: 10px;
}
.flag-prt img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.data-prt{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px 10px;
}
.countryName{
  font-size: 45px;
  font-weight: 650;
}
.otherName{
  font-size: 18.5px;
  font-weight: 450;
  opacity: 0.7;
}
.middle-section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  font-size: 19px;
}
.data-prt .footer{
  font-size: 19px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
}
.data-prt span{
  opacity: 0.8;
  font-weight: 500;
}